
.container-box {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.548);
    background: rgba(5, 65, 5, 0.966);
}

.container-box__row {
    display: flex;
    flex-direction: row;
}

.container-box__left {
    width: 500px;
    height: 700px;
    margin-top: 25px;
    margin-left: 55px;
    background: #fff;
    border-radius: 8px;
    border-bottom: 3px solid #333;
}

.container-box__title {
    width: 100%;
    padding: 16px;
}

.container-box__title h2 {
    white-space: -1.5;
    font-size: 34px;
    font-weight: bold;
    margin-left: 115px;
}

.container-box__title h2 b {
    color: green;
    font-weight: 600;
    font-size: 48px;
}

.container-box__formbox {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.item-box {
    margin: 5% auto;
    padding: 8px;
}

.item-box__title h4{
    font-size: 25px;
    margin-left: 10px;
}

.form-item__box {
    width: 100%;
    display: blox;
    margin: 8px;
}

.form-items {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.labeltitle {
    font-size: 20px;
    font-weight: 300;
    margin: 5px;
    margin-left: 0px;
}

.form-items input[type=text] {
    padding: 12px;
    font-size: 16px;
    border-bottom: 3px solid #333;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}


.form-items input[type=password] {
    padding: 12px;
    font-size: 16px;
    border-bottom: 3px solid #333;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.btnLogin  {
    margin-top: 48px;
    margin-bottom: 28px;
    text-align: center;
}

.btnLogin a {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    padding: 8px;
    padding-left: 100px;
    padding-right: 100px;
    background: #333;
    border-radius: 4px;
    border: none;
}


.container-box__right {
    width: 60%;
    background-color: transparent;
}

.content-box__image {
    width: 100%;
}

.content-box__image img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}